.warpper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-with: 52px;
    --search-color: #a7a7ab;

    position: fixed;
    width: 100%;
    height: var(--dafault-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
    background-color: var(--white);
    z-index: 10;
}
.inner {
    height: 100%;
    width: var(--dafault-layout-with);
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: contents;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn {
    width: 26px;
    height: 26px;
    font-size: 1.8rem;
    align-items: center;
    background-color: transparent;
    margin-left: 18px;
    cursor: pointer;
}

.inbox-icon {
    margin-bottom: 5px;
}

.user-avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-left: 20px;
    cursor: pointer;
}

.menu-btn {
    width: 20px;
    height: 20px;
    font-size: 1.7rem;
    margin-left: 20px;
    background-color: transparent;
}
